extends ../header 

block content

    h1 Setups marcados como favoritos

    <br><br>

    div#cuadroDatos
        each uno in data
            div.cuadroUnidad
                p.datos= 'Creado por: ' + uno['owner'] 
                <br>
                p.datos= 'Camber: ' + uno['camber']
                p.datos= 'Diferencial: ' + uno['differential']
                p.datos= 'height: ' + uno['height']
                p.datos= 'convergence: ' + uno['convergence']
                p.datos= 'surface: ' + uno['surface']
                p.datos= 'ackerman: ' + uno['ackerman']
                p.datos= 'chasis: ' + uno['chasis']
                p.datos= 'style: ' + uno['style']
                p.datos= 'surface: ' + uno['surface']

                p(class="datos", hidden)= uno['id']

                <br><br>

                form(action="/fav/remove", method="post")
                    label(for="id") 
                    input(hidden, id="id", type="text", name="id" value=uno['id'])                    
                    button(type="submit") Quitar de favorito                